/**
* Jetpack Overrides
*/


/* ShareDaddy */
.sd-social-icon .sd-content ul li a.sd-button,
.sd-social-text .sd-content ul li a.sd-button,
.sd-content ul li a.sd-button,
.sd-content ul li .option a.share-ustom,
.sd-content ul li.preview-item div.option.option-smart-off a,
.sd-content ul li.advanced a.share-more,
.sd-social-icon-text .sd-content ul li a.sd-button,
.sd-social-official .sd-content>ul>li>a.sd-button,
#sharing_email .sharing_send,
.sd-social-official .sd-content>ul>li .digg_button >a {
    border: 1px solid red;
    background-color: red;
    color: #fff !important;
    padding: 0.4em 1em;
    border-radius: 0;
    box-shadow: none;
}

.sd-social-icon .sd-content ul li a.sd-button:hover,
.sd-social-icon .sd-content ul li a.sd-button:active,
.sd-social-text .sd-content ul li a.sd-button:hover,
.sd-social-text .sd-content ul li a.sd-button:active,
.sd-social-icon-text .sd-content ul li a.sd-button:hover,
.sd-social-icon-text .sd-content ul li a.sd-button:active,
.sd-social-official .sd-content>ul>li>a.sd-button:hover,
.sd-social-official .sd-content>ul>li>a.sd-button:active,
.sd-social-official .sd-content>ul>li .digg_button>a:hover,
.sd-social-official .sd-content>ul>li .digg_button>a:active {
    color: #000 !important;
}

div.sharedaddy h3.sd-title {
    font-size: 0.75em;
    text-transform: uppercase;
}